<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/img/about-me.jpg" alt="Varun Deshpande" class="avatar" />
  <p>
    <a href="https://relationaldba.com" rel="noreferrer noopener" target="_blank">RelationalDBA.com</a> is a Blog by <a href="https://varundeshpande.com/">Varun Deshpande</a> for Relational Database Management systems.
    Varun has several years of experience with SQL Server and PostgreSQL. When he's not working on databases he likes to spend time with family and friends.
  </p>
  <p>
    Follow him on <a href="https://twitter.com/relationaldba" rel="noreferrer noopener" target="_blank">Twitter</a> or say hi at <a href="mailto:varundeshpande.vd@gmail.com" rel="noreferrer noopener" target="_blank">varundeshpande.vd@gmail.com</a>.
  </p>
</div>
